<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Data Collector App</title>
</head>
<body>
    <!-- Create html page using Emmet  -->
    <!-- .container>h1{Collecting height}+h3{Please fill the entires to get population statistics on height}  -->
    <div class="container">
        <h1>Collecting height</h1>
        <h3>Please fill the entires to get population statistics on height</h3>
        <div class="message">
            {{text | safe}}
        </div>
        <form action="{{url_for('success')}}" method='post' enctype="multipart/form-data">
            <fieldset>
                <legend>Your data save with us!</legend>
                    <table>
                        <!-- label[for="name"]{Your name}+input:text[name="name" id="email"] -->
                        <tr class="table-row">
                            <td style="text-align: left"><label for="name">Your name</label></td>
                            <td><input type="text" name="name" id="email" required></td>
                        </tr>
                        <tr>
                            <td style="text-align: left"><label for="email">Email</label></td>
                            <td><input type="email" name="email" id="email" placeholder="Enter your email address" required></td>
                        </tr>
                        <!-- label[for="bod"]{Date of Birth}+input:date[name="dob" id="dob"] -->
                        <tr>
                            <td style="text-align: left"><label for="bod">Date of Birth</label></td>
                            <td ><input type="date" name="dob" id="dob" required></td>
                        </tr>
                        <tr>
                            <td style="text-align: left"><label for="height_input">Height</label></td>
                            <td><input type="number" name="height" id="height" placeholder="Enter your height in cm" min="50" max="300" required></td>
                        </tr>
                        <tr>
                            <td colspan=2><button type="submit">Submit</button></td>
                        </tr>
                    </table>   
            </fieldset>    
            <fieldset>
                <legend>Upload your file here</legend>
                <input type="file" name="upload_file" id="upload_file">  
            </fieldset>
        </form>  
    </div>
</body>
</html>