<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Submit successful</title>
</head>
<body>
    <div class="container">
        <p>Thank you for your submission!
            <br>You will receive an email with the survey results shortly.</br>
        </p>
        <label for="home">Return <a href="{{url_for('index')}}">home</a></label>
    </div>
</body>
</html>